35 23 * * * root /usr/local/bin/python /src/retriever/elos.py >> /var/log/cron.log 2>&1 && /usr/local/bin/python /src/retriever/fixtures.py >> /var/log/cron.log 2>&1 && /usr/local/bin/python /src/simulator/sim_season.py >> /var/log/cron.log 2>&1
45 16 * * * root /usr/local/bin/python /src/retriever/elos.py >> /var/log/cron.log 2>&1 && /usr/local/bin/python /src/retriever/fixtures.py >> /var/log/cron.log 2>&1 && /usr/local/bin/python /src/simulator/sim_season.py >> /var/log/cron.log 2>&1
#* * * * * root /usr/local/bin/python /src/retriever/elos.py >> /var/log/cron.log 2>&1
#* * * * * root echo "Hello world" >> /var/log/cron.log 2>&1
# minute hour * * *
