* * * * * root /usr/local/bin/python /src/retriever/elos.py && python /src/retriever/fixtures.py && python /src/simulator/sim_season.py >> /var/log/cron.log 2>&1
#* * * * * root echo "Hello world" >> /var/log/cron.log 2>&1
